@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --font-gloria: var(--font-gloria);
}

@layer components {
  .heading-1 {
    @apply font-bold text-[32px] leading-10 tracking-[-2px]
           lg:text-[64px] lg:leading-18  md:text-[48px] md:leading-12
           xl:text-[80px] xl:leading-none xl:tracking-[-0.05em];
  }

  .heading-2 {
    @apply font-bold text-[28px] tracking-[-2px]
           md:text-[48px]
           xl:text-[56px] xl:tracking-[-0.02em] leading-tight;
  }

  .heading-3 {
    @apply font-bold text-[18px] tracking-[-0.5px]
           md:text-[20px] xl:text-[32px] leading-snug;
  }

  .heading-4 {
    @apply font-bold text-[16px] tracking-[-0.5px]
           md:text-[18px] xl:text-[24px] leading-snug;
  }

  .body-text {
    @apply text-[14px] text-white md:text-[16px] xl:text-[18px]
           tracking-[-0.01em] leading-relaxed;
  }
  .card-text {
    @apply text-[14px] md:text-[15px] xl:text-[16px] tracking-tight
            leading-relaxed;
  }
  .container {
    @apply container mx-auto px-4 py-10  sm:px-8 md:px-12 lg:px-16 xl:py-24 xl:px-16 2xl:px-24;
  }
  .container-hero {
    @apply container mx-auto px-4 py-10  sm:px-8 md:px-12 lg:px-16 xl:py-0 xl:px-0 2xl:px-0;
  }
  .scale-animation {
    @apply transform transition-transform
         duration-700 ease-out
         opacity-90 hover:opacity-100 hover:scale-105;
  }
}

@layer utilities {
  .glass-border {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
  }

  .shadow-white-blur {
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }

  .font-gloria {
    font-family: var(--font-gloria), cursive;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
